.item {
  background-color: #c1c1a0;
  margin: 1rem;
  border-radius: 5px;
  width: 20%;
}

.item h3 {
  margin: 0.5rem 0;
  font-size: 1.25rem;
}

.item header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.price {
  width: fit-content;
  border-bottom: 1px solid #927b05;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.price:hover {
  color: #927b05;
}

.item p {
  color: #000;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width:767px) {
  .item {
    width: 60%;
  }
}